<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Talao API Demo</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <section class="d-flex flex-column" style="">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div id="successMessage" class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
      <span>{{ message }}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          {% if current_user.is_authenticated %}
          <li class="nav-item"><a href="{{ url_for('main.profile') }}" class="nav-link">
              Profile
            </a></li>
          <li class="nav-item"><a href="{{ url_for('main.user_list') }}" class="nav-link">
              User list
            </a></li>
          {% endif %}
          {% if not current_user.is_authenticated %}
          <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link">
              Login
            </a></li>
          <li class="nav-item"><a href="{{ url_for('auth.signup') }}" class="nav-link">
              Sign Up
            </a></li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li class="nav-item"><a href="{{ url_for('auth.logout') }}" class="nav-link">
              Logout
            </a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

      <div class="d-flex flex-column text-center my-5">
        {% block content %}
        {% endblock %}
      </div>
  </section>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
